html, body, .block {
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.material-icons {
  vertical-align: middle;
}

.main-container {
  background-image: url(img/parallax.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;

  & > div {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}

.social-link {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 20px;
  padding: 1px;
  cursor: pointer;
  & > * {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: inline-block;
    &.facebook {
      background-image: url(img/facebook.png);
    }
    &.github {
      background-image: url(img/github.png);
    }
    &.linkedin {
      background-image: url(img/linkedin.png);
    }
    &.stackoverflow {
      background-image: url(img/stackoverflow.png);
    }
    &.twitter {
      background-image: url(img/twitter.png);
    }
  }
}
